/*
========== HEADING ==========
*/
.section-heading {
	margin-bottom: 40px;
}

.section-heading.section-heading_center {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.section-heading .section-heading_sub {
	font-size: 1.6em;
	font-weight: 700;
	color: var(--primary-color);
	margin-bottom: 10px;
}

.section-heading .section-heading_title {
	font-size: 2.6em;
	font-weight: 600;
	color: var(--gray-900);
	line-height: 1.1;
}

.section-heading .section-heading_desc {
	margin-top: 20px;
	font-size: 1.15em;
	color: var(--gray-600);
	line-height: 1.5;
}

.section-heading .section-heading_text {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.section-heading .section-heading_text .section-heading_text-icon {
	font-size: 2.4em;
	color: var(--primary-color);
}

.section-heading .section-heading_text .section-heading_text-content p {
	margin-bottom: 0;
	font-size: 1.3em;
	font-weight: 700;
	color: var(--gray-700);
}

.section-heading .section-heading_text .section-heading_text-content span {
	font-size: 1.1em;
	color: var(--gray-500);
	line-height: 1.5;
}

.section-heading .section-heading_button {
	margin-top: 20px;
}

/*
========== BUTTON THEME ==========
*/
.button-theme {
	border: 0;
	outline: none;
	box-shadow: none;
	font-size: 1.1em;
	border-radius: 200px;
	font-weight: 600;
	color: var(--white);
	background-color: var(--primary-color);
	position: relative;
	overflow: hidden;
	padding: 12px 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	line-height: 1.1;
}

.button-theme.button-theme_small {
	padding: 10px 18px;
	font-size: 1em;
}

.button-theme i {
	margin-left: 5px;
}

.button-theme:before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.button-theme.button-theme--secondary {
	background-color: var(--accent-color);
}
.button-theme.button-theme--secondary :before {
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.button-theme:hover {
	color: #fff;
	background-color: var(--primary-hover);
}
.button-theme.button-theme--secondary:hover {
	color: #fff;
	background-color: var(--accent-hover);
}

.button-theme:hover:before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

.swiper-actions .swiper-pagination {
	position: relative;
	bottom: unset;
	left: unset;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-actions .swiper-pagination .swiper-pagination-bullet {
	background-color: var(--gray-400);
	opacity: 1;
	height: 8px;
	width: 8px;
	transition: var(--transition-default);
}

.swiper-actions .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 25px;
	border-radius: 8px;
	background-color: var(--primary-color);
}

/*
========== SECTION HEADER ==========
*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
}

.header .header-navigation > ul {
	display: flex;
	align-items: center;
	justify-self: flex-end;
}

.header .header-navigation > ul > li {
	position: relative;
}

.header .header-navigation > ul > li + li {
	margin-left: 20px;
}

.header .header-navigation > ul > li + li:before {
	position: absolute;
	top: 50%;
	left: -10px;
	height: 20px;
	width: 1px;
	background-color: var(--gray-300);
	transform: translateY(-50%);
	content: '';
	opacity: 0.3;
}

.header .header-navigation > ul > li > a {
	color: var(--white);
	font-size: 0.95em;
	text-shadow: 1px 1px 0 #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 28px 5px;
	position: relative;
	opacity: 0.8;
	transition: var(--transition-default);
}

.header .header-navigation > ul > li > a.active,
.header .header-navigation > ul > li > a:hover {
	color: var(--white);
	opacity: 1;
}

.header .header-navigation > ul > li > a > i {
	font-size: 0.9em;
	margin-left: 5px;
}

.header .header-navigation > ul > li > ul {
	position: absolute;
	left: -10px;
	top: 100%;
	min-width: calc(100% + 10px);
	width: 240px;
	background: rgba(0, 0, 0, 0.7);
	transition: var(--transition-default);
	z-index: 2;
	transform: scaleY(0);
	transform-origin: top;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
}

.header .header-navigation > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	transform: scaleY(1);
}

.header .header-navigation > ul > li > ul > li > a {
	display: flex;
	align-items: center;
	font-size: 0.95em;
	color: var(--white);
	opacity: 0.75;
	transition: var(--transition-default);
	padding: 11px 10px;
}

.header .header-navigation > ul > li > ul > li > a:hover {
	color: var(--white);
	opacity: 1;
	background: rgba(255, 255, 255, 0.05);
}

.header .header-navigation > ul > li > ul > li + li {
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/*
========== SECTION BANNER ==========
*/

.section-banner .swiper-slide {
	padding-top: 600px;
}

/*
========== SECTION INTRODUCTION ==========
*/

.section-introduction .introduction-images .introduction-images_item {
	border-radius: 8px;
}

.section-introduction .introduction-images .introduction-images_item.introduction-images_item-big {
	--ratio-introduction: calc(5 / 3 * 100%);
}

.section-introduction .introduction-images .introduction-images_item.introduction-images_item-small {
	--ratio-introduction: calc(5 / 3 * 50% - 10px);
}

.section-introduction .introduction-images .introduction-images_item > img {
	top: 0;
	left: 0;
}

.section-introduction .introduction-images .introduction-images_item {
	content: '';
	padding-top: var(--ratio-introduction);
	display: block;
}

.section-introduction .introduction-images .introduction-experience {
	gap: 15px;
	background-color: var(--white);
	left: 0;
	bottom: 50px;
	padding: 15px 20px 15px 15px;
	border-left: 6px solid var(--primary-color);
	box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.section-introduction .introduction-images .introduction-experience .introduction-experience-icon {
	width: 50px;
	height: 50px;
	font-size: 1.8em;
	background-color: var(--primary-color);
}

.section-introduction .introduction-images .introduction-experience .introduction-experience-title {
	font-size: 1.4em;
	color: var(--gray-900);
	line-height: 1.1;
}

/*
========== SECTION SERVICE ==========
*/

.section-service {
	background-color: #e5f2ef;
}

.service-card {
	border-radius: 12px;
	box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
	padding: 8px;
	height: 100%;
}

.service-card .card-header {
	border-radius: 6px;
	transition: var(--transition-default);
}

.service-card .card-header img {
	border-radius: 6px;
	transition: var(--transition-default);
}

.service-card .card-header:hover img {
	opacity: 0.9;
	transform: scale(1.025);
}

.service-card .card-body .card-title a {
	font-size: 1.4em;
	color: var(--gray-900);
	font-weight: 700;
	transition: var(--transition-default);
}

.service-card .card-body .card-title a:hover {
	color: var(--primary-color);
}

.service-card .card-body .card-icons {
	gap: 15px;
	font-size: 1.1em;
	color: var(--gray-600);
}

.service-card .card-body .card-text {
	margin-top: 10px;
	font-size: 1.05em;
	color: var(--gray-500);
}

.service-card .card-body .card-button {
	margin-top: 15px;
}

.service-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.15);
}

/*
========== SECTION LEARNING ==========
*/

.section-learning {
	padding: 100px 0;
}

.section-learning .section-heading {
	margin-bottom: 0;
}

.section-learning .section-heading .section-heading_sub,
.section-learning .section-heading .section-heading_title {
	color: var(--white);
}

.section-learning .section-heading .section-heading_desc {
	color: var(--gray-200);
}

/*
========== SECTION PRODUCT ==========
*/

.section-products {
	background-image: url('../images/body-bg.png');
	background-size: cover;
	background-position: center;
}

.product-card .card-header {
	position: relative;
}

.product-card .card-header img {
	transition: var(--transition-default);
}

.product-card .card-header .card-action {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: var(--transition-default);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}

.product-card .card-body {
	padding-left: 10px;
	padding-right: 10px;
}

.product-card .card-title {
	text-align: center;
}

.product-card .card-title a {
	font-size: 1.15em;
	color: var(--gray-900);
	font-weight: 600;
	transition: var(--transition-default);
	line-height: 1.2;
}

.product-card .card-stars {
	text-align: center;
	margin-top: 2px;
	color: #f69323;
	margin-bottom: 8px;
	font-size: 0.8em;
}

.product-card .card-stars .checked ~ * {
	color: var(--gray-400);
}

.product-card .card-price {
	text-align: center;
}

.product-card .card-price ins {
	text-decoration: none;
	font-weight: 500;
	color: var(--danger);
	font-size: 1.2em;
}

.product-card .card-price del {
	margin-left: 8px;
	color: var(--gray-500);
}

.product-card:hover .card-header img {
	opacity: 0.7;
}

.product-card:hover .card-header .card-action {
	top: 50%;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.product-card .card-title a:hover {
	color: var(--primary-color);
}

/*
========== SECTION TESTIMONIALS ==========
*/
.section-testimonials {
	background-color: #e5f2ef;
}

.testimonial-card .card-header {
	background-color: var(--primary-color);
	padding: 40px 30px 50px 30px;
	border-radius: 10px;
	box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
}

.testimonial-card .card-header::before {
	content: '\f0dd';
	position: absolute;
	font-family: 'Font Awesome 5 Pro';
	bottom: -25px;
	left: 40px;
	font-weight: bold;
	font-size: 70px;
	color: var(--primary-color);
	line-height: 1;
}

.testimonial-card .card-header p {
	margin-bottom: 0;
	font-size: 1.1em;
	color: var(--white);
	line-height: 1.6;
}

.testimonial-card .card-header .card-header_icon {
	position: absolute;
	right: 20px;
	bottom: 10px;
	width: 40px;
}

.testimonial-card .card-body {
	margin-top: 30px;
	margin-left: 20px;
	gap: 15px;
}

.testimonial-card .card-body .card-image {
	width: 80px;
	padding: 5px;
	border-radius: 50px;
	border: 2px dashed var(--primary-color);
}

.testimonial-card .card-body .card-content .card-title {
	font-size: 1.4em;
	color: var(--gray-900);
	font-weight: 700;
	margin-bottom: 0;
}

.testimonial-card .card-body .card-content .card-text {
	font-size: 1.05em;
	color: var(--gray-500);
}

.testimonial-card .card-body .card-content .card-stars {
	margin-top: 2px;
	color: #f69323;
}

.testimonial-card .card-body .card-content .card-stars .checked ~ * {
	color: var(--gray-400);
}

/* ============ SECTION NEWS CARD ============ */

.news-card .card-header .card-image img {
	transform: scale(1);
	transition: transform 0.5s ease;
	will-change: transform;
}

.news-card .card-header:hover .card-image img {
	transform: scale(1.05);
	opacity: 0.9;
}

.news-card .card-body {
	padding-right: 10px;
	padding-left: 10px;
}

.news-card .card-subtitle {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--primary-color);
}

.news-card .card-title a {
	font-size: 1.15em;
	font-weight: 600;
	line-height: 1.2;
	color: var(--gray-900);
	transition: var(--transition-default);
}

.news-card .card-title a:hover {
	color: var(--primary-color);
}

.news-card .card-footer .link-view {
	display: inline-flex;
	align-items: center;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 0.15em;
	color: var(--gray-900);
}

.news-card .card-footer .link-view .text {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	transition: color 0.6s cubic-bezier(0.24, 0, 0.16, 1.01);
}

.news-card .card-footer .link-view:hover,
.news-card .card-footer .link-view:hover .text {
	color: var(--primary-color);
}

.news-card .card-footer .link-view svg {
	margin-right: 10px;
}
.news-card .card-footer .link-view svg line {
	stroke-miterlimit: 10;
	stroke-dasharray: 20;
	stroke-dashoffset: 40;
	transition: stroke-dashoffset 0.6s 0.2s cubic-bezier(0.24, 0, 0.16, 1.01);
}
.news-card .card-footer .link-view svg line:not(:first-child) {
	stroke-dashoffset: 7;
	stroke-dasharray: 7;
	transition-duration: 0.3s;
}
.news-card .card-footer .link-view:hover svg line {
	stroke-dashoffset: 0;
}
.news-card .card-footer .link-view:hover svg line:not(:first-child) {
	stroke-dashoffset: 14;
	transition-delay: 0.5s;
}
.news-card .card-footer .link-view:hover svg line:nth-child(2) {
	transition-delay: 0.6s;
}

/* ========== BREADCRUMB AND PAGINATION ========= */
.nav-breadcrumb {
	background-color: var(--gray-100);
	border-bottom: 1px solid var(--gray-200);
	border-top: 1px solid var(--gray-200);
}

.nav-breadcrumb .breadcrumb .breadcrumb-item > a {
	display: inline-flex;
	align-items: center;
	padding: 10px 0;
	font-weight: 500;
	color: var(--gray-700);
	display: inline-flex;
}
.nav-breadcrumb .breadcrumb .breadcrumb-item > a > i {
	margin-right: 5px;
}
.nav-breadcrumb .breadcrumb .breadcrumb-item.active > a {
	color: var(--gray-500) !important;
}

.nav-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	float: none;
}

.nav-breadcrumb .breadcrumb .breadcrumb-item > a:hover {
	color: var(--primary-color);
}

.nav-pagination .pagination {
	justify-content: center;
	margin-top: 25px;
}
.nav-pagination .pagination .page-item {
	margin: 0 5px;
}
.nav-pagination .pagination .page-item:not(.active):hover > .page-link {
	background-color: var(--primary-color);
	color: #ffffff;
}
.nav-pagination .pagination .page-item.active > .page-link {
	background-color: var(--primary-hover);
	border-color: var(--primary-hover);
	color: #ffffff;
}

.nav-pagination .pagination .page-link {
	outline: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;
	color: var(--primary-color);
	transition: var(--transition-default);
}
.nav-pagination .pagination .page-link:focus,
.nav-pagination .pagination .page-link:active {
	outline: none;
	box-shadow: none;
}

/* ========== PAGE  ========= */

.page-gap {
	padding: 20px 0;
}
.page-light {
	background-color: #eee;
}

.page-title {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.page .page-header {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--gray-separation);
}

.page .page-meta .meta + .meta {
	margin-left: 21px;
}

.page .page-meta .meta + .meta::after {
	position: absolute;
	content: '';
	display: block;
	height: 10px;
	width: 1px;
	background-color: var(--gray-separation);
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
}

.page .page-content img {
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
	vertical-align: middle;
	margin: 10px 0;
}

.page .section-subtitle,
.page .page-sidebar .sidebar .sidebar-title {
	font-size: var(--size-theme-4);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--gray-900);
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ebebeb;
}
.page .page-sidebar .sidebar .sidebar-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 15px 0;
}
.page .page-sidebar .sidebar .sidebar-list .sidebar-item {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-gap: 15px;
}
.page .page-sidebar .sidebar .sidebar-list .sidebar-item .sidebar-item__media {
	border-radius: 0.25rem;
	overflow: hidden;
}
.page .page-sidebar .sidebar .sidebar-list .sidebar-item .sidebar-item__title {
	display: block;
	font-size: 1em;
	font-weight: 600;
	color: var(--gray-900);
	margin-bottom: 5px;
	transition: var(--transition-default);
}

.page .page-sidebar .sidebar .sidebar-list .sidebar-item .sidebar-item__title:hover {
	color: var(--primary-color);
}

.page .page-sidebar .sidebar .sidebar-list .sidebar-item .sidebar-item__date {
	font-size: 13px;
	color: var(--gray-600);
}
.page .page-sidebar .sidebar + .sidebar {
	margin-top: 24px;
}

.page-news-detail .page-sidebar .sidebar {
	position: sticky;
	top: 75px;
	z-index: 1;
}

.page .page-filter .dropdown .page-filter__btn {
	display: inline-flex;
	align-items: center;
	padding: 10px 20px;
	border: 1px solid #00000020;
	background-color: transparent;
	font-weight: 500;
}

.page .page-filter .dropdown .dropdown-item {
	padding: 0.5rem 1rem;
	font-size: 13px;
	transition: var(--transition-default);
}
.page .page-filter .dropdown-menu {
	overflow: hidden;
}

.page .page-filter .dropdown .page-filter__btn,
.page .page-filter .dropdown-menu {
	min-width: 165px;
}

.page .page-filter .dropdown-menu .dropdown-item:hover {
	background-color: var(--primary-hover);
	color: #ffffff;
}

/* ======== PAGE PRODUCT DETAIL ======== */

.page .section-wrapper {
	padding: 15px;
	box-shadow: 0 0 4px rgb(0 0 0 / 8%);
	border-radius: 0.25rem;
}

.page-product-detail .product-media .product-media__preview .preview-box {
	cursor: zoom-in;
	border: 1px solid var(--gray-separation);
	border-radius: 4px;
}

.page-product-detail .product-media .product-media__thumbs .thumb-box {
	transition: var(--transition-default);
	cursor: pointer;
	border: 1px solid var(--gray-separation);
	border-radius: 4px;
}

.page-product-detail .product-media .product-media__thumbs .swiper-slide-thumb-active > .thumb-box {
	opacity: 0.5;
}

.page-product-detail .product-title {
	font-size: var(--size-theme-3);
	font-weight: 600;
}

.page-product-detail .page-sidebar .theme-sidebar-list > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.page-product-detail .page-sidebar .theme-sidebar-list > ul > li {
	display: grid;
	grid-template-columns: 0 1fr;
	grid-gap: 20px;
	align-items: center;
	position: relative;
}

.page-product-detail .page-sidebar .theme-sidebar-list > ul > li::before {
	font-family: 'Font Awesome 5 Pro', sans-serif;
	font-weight: 900;
	content: '\f111';
	font-size: 0.35em;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	vertical-align: middle;
	margin-top: 3px;
	color: var(--primary-hover);
	-webkit-font-smoothing: antialiased;
}

.page-product-detail .page-sidebar .theme-sidebar-list > ul > li + li {
	margin-top: 8px;
}

.page-product-detail .page-sidebar .theme-sidebar-list.sidebar-list__policy > ul > li::before {
	content: '\f058';
	font-weight: 900;
	font-size: 1em;
}

.page-product-detail  .product-policy__list > li {
	display: block;
	font-size: var(--size-theme-7);
	white-space: nowrap;
	font-weight: 400;
}

.page-product-detail  .product-policy__list > li + li {
	margin-top: 4px;
}
.page-product-detail  .product-policy__list > li i {
	margin-right: 4px;
}
.page-product-detail  .product-policy__list > li i,
.page-product-detail  .product-policy__list > li span {
	font-weight: 700;
	color: var(--primary-color)
}

.page-product-detail .product-price {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

.page-product-detail .product-price {
	gap: 10px;
}
.page-product-detail .product-price .price-final {
	color: var(--accent-color);
}
.page-product-detail .product-price .price-original {
	color: var(--price-disable);
}

.page-product-detail .product-price .price-final,
.page-product-detail .product-price .price-original {
	font-weight: 600;
	line-height: 1.1;
	font-size: var(--size-theme-5);
}

.page-product-detail .product-category .product-category__group + .product-category__group {
	margin-top: 4px;
}

.page-product-detail .product-category .product-category__group .list-item > a {
	display: inline-block;
	font-weight: 500;
	color: var(--accent-color);
	transition: var(--transition-default);
}
.page-product-detail .product-category .product-category__group .list-item > a:hover {
	color: var(--primary-color);
}

.page-product-detail .product-category .product-category__group .list-item > a:not(:last-child)::after {
	content: ',';
	color: var(--gray-900);
}



.page-product-detail  .product-quantity__container {
	padding: 15px 0;
	margin: 1rem 0;
	border-top: 1px solid var(--gray-separation);
	border-bottom: 1px solid var(--gray-separation);
}

.page-product-detail .product-quantity {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	border: 1px solid var(--primary-color);
}

.page-product-detail .product-quantity input {
	position: relative;
	height: 36px;
	padding: 0 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: inherit;
	outline: 0;
	border: none;
	text-align: center;
	box-shadow: none !important;
	outline: none !important;
	max-width: 80px;
	font-size: var(--size-theme-6);
	color: var(--gray-900);
	font-weight: 400;
}
.page-product-detail .product-quantity .btn {
	background-color: var(--primary-color);
	color: #ffffff;
	width: 36px;
	border-radius: 0;
	font-size: var(--size-theme-7);
	transition-duration: var(--transition-default);
}

.page-product-detail .product-quantity .btn:hover{
	background-color: var(--primary-hover);
}
.page-product-detail .product-actions {
	gap: 8px;
}
.page-product-detail .product-actions .button-theme {
	border-radius: 0.25rem;
	font-size: var(--size-theme-6);
	text-transform: capitalize;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
}

.page-product-detail .product-colors {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 30px;
}
.page-product-detail .product-colors .product-colors__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	grid-gap: 8px;
}

.page-product-detail .product-colors .product-colors__list > li > label,
.page-product-detail .product-colors .product-colors__list > li {
	display: block;
	margin-bottom: 0;
}

.page-product-detail .product-colors .product-colors__list > li > label > span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	padding: 0 16px;
	height: 30px;
	width: 100%;
	white-space: nowrap;
	font-size: var(--size-theme-7);
	border: 1px solid var(--gray-300);
	color: #212121;
	font-weight: 500;
	border-radius: 4px;
	transition: var(--transition-default);
	cursor: pointer;
	position: relative;
	overflow: hidden;
}


.page-product-detail .product-colors .product-colors__list > li:hover > label > span{
	border-color: var(--accent-color);
}

.page-product-detail .product-colors .product-colors__list > li > label > span::after {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	right: -1px;
	width: 0;
	height: 0;
	color: #fff;
	border-width: 0 14px 14px 0;
	border-color: transparent var(--accent-color) transparent transparent;
	border-style: solid;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: inherit;
}
.page-product-detail .product-colors .product-colors__list > li > label > input:checked + span::after{
	opacity: 1;
	visibility: visible;
}
.page-product-detail .product-colors .product-colors__list > li > label > input:checked + span {
	border-color: var(--accent-color);
}

.page-product-detail .product-description {
	color: var(--text-light);
}

.swiper-button {
	border: 0;
	background: rgba(0, 0, 0, .33);
	box-shadow: none;
	width: 35px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	transition: var(--transition-default);
}

.swiper-button:hover {
	background: rgba(0, 0, 0, .66);
}


.swiper-button.prev{
	left: 0;
}

.swiper-button.next{
	right: 0;
}


@media (min-width: 1440px){
	.page-product-detail .container {
		max-width: 1230px;
	}
}